@import url(https://necolas.github.io/normalize.css/8.0.1/normalize.css);

html,
body,
#root,
.container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: transparent;
}

.container {
  transform: translateY(100%);
  position: absolute;
  transition: 1s ease-in-out;
}

.card-container {
  position: relative;
  display: inline-flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 57%;
  filter: blur(1px);
  transition: 0.3s ease-in-out;
}

.card-name {
  position: absolute;
  z-index: 2;
  font-size: 1.5rem;
  top: 5%;
  left: 10%;
  width: 79%;
  overflow: hidden;
  white-space: nowrap;
}

.card-description {
  position: absolute;
  z-index: 2;
  font-size: 1rem;
  top: 70%;
  left: 13%;
  width: 76%;
  overflow: hidden;
  height: 17%;
}

.character {
  position: absolute;
  left: 0;
  top: 14%;
  width: 100%;
  height: 53%;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.card {
  z-index: 1;
  height: 100%;
}

.capsule {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
}

.upper-capsule,
.lower-capsule {
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  transition: 1s ease-in-out;
}

.upper-capsule {
  background-image: url(./assets/capsule-upper.png);
  background-position: center bottom;
  top: 5.5%;
  z-index: 1;
  height: 50%;
  backdrop-filter: blur(7px);
}

.lower-capsule {
  background-image: url(./assets/capsule-lower.png);
  background-position: center top;
  height: 39%;
}
